<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

	<Identity
	  Name="2e06ed1b-2be5-4207-9324-b7109222092c"
	  Publisher="CN=David Jonjic, O=David Jonjic, L=Eugendorf, S=Salzburg, C=AT"
	  Version="0.1.0" />

	<mp:PhoneIdentity PhoneProductId="2e06ed1b-2be5-4207-9324-b7109222092c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Clankboard</DisplayName>
		<PublisherDisplayName>D244</PublisherDisplayName>
		<Logo>Assets\ManifestGraphics\ALPHA\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Clankboard ALPHA"
			  Description="A feature rich soundboard application for windows 10 and 11."
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\ManifestGraphics\ALPHA\Square150x150Logo.png"
			  Square44x44Logo="Assets\ManifestGraphics\ALPHA\Square44x44Logo.png">
				<uap:DefaultTile  Square71x71Logo="Assets\ManifestGraphics\ALPHA\SmallTile.png" Square310x310Logo="Assets\ManifestGraphics\ALPHA\LargeTile.png" Wide310x150Logo="Assets\ManifestGraphics\ALPHA\Wide310x150Logo.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square310x310Logo"/>
						<uap:ShowOn Tile="square150x150Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:LockScreen BadgeLogo="Assets\ManifestGraphics\ALPHA\logo96.png" Notification="badge"/>
				<uap:SplashScreen Image="Assets\ManifestGraphics\ALPHA\SplashScreen.png"/>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation" EntryPoint="Windows.FullTrustApplication" Executable="$targetnametoken$.exe">
					<uap:FileTypeAssociation Name="clanksoundboard">
						<uap:SupportedFileTypes>
							<uap:FileType ContentType="application/clanksoundboard">.clankboard</uap:FileType>
						</uap:SupportedFileTypes>
						<uap:DisplayName>Clankboard Soundboard</uap:DisplayName>
						<uap:Logo>Assets\logo.png</uap:Logo>
						<uap:InfoTip>Clankboard Soundboard</uap:InfoTip>
						<uap:EditFlags OpenIsSafe="true"/>
					</uap:FileTypeAssociation>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<uap3:Capability Name="backgroundMediaPlayback"/>
		<Capability Name="internetClient"/>
		<DeviceCapability Name="microphone"/>
	</Capabilities>
</Package>
